---
layout: post
---


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}

<div id="related">

  {% for category in page.categories %}
  {% assign moreThanOneInCategory = false %}
  {% assign posts = site.categories[category] %}

  {% for post in posts %}
    {% if forloop.length > 1 %}
      {% assign moreThanOneInCategory = true %}
    {% endif %}
  {% endfor %}

  {% if moreThanOneInCategory == true %}
    <div class="related-posts">
      <h3 class="move-left">Related Posts: “{{ category }}”</h3>

      <ul>
        {% for post in posts %}
          {% unless post.url == page.url %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

              Published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}

</div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <ul>   
                <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
                <p class="littlemargin">{{ page.date | date: "%-d %B %Y" }}</p>
                {{ content }}
        </ul>
        
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>

